<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'users:dashboard' %}">
            <i class="fas fa-leaf"></i> EcoWaste
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reports:report_list' %}"><i class="fas fa-file-alt"></i> Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events:event_list' %}"><i class="fas fa-calendar"></i> Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:noticeboard' %}"><i class="fas fa-bullhorn"></i> NoticeBoard</a>
                </li>
                {% if user.is_community_admin %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{% url 'users:admin_dashboard' %}"><i class="fas fa-cog"></i> Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{% url 'users:account' %}">My Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:settings' %}">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
